%meta{property: 'og:site_name',    content: @appConfig[:siteName]}
%meta{property:'og:locale', content: current_locale}
%meta{property: 'og:url',          content: @appConfig[:currentUrl]}

- if @metadata
  %meta{property: 'og:title',        content: @metadata[:title]}
  %meta{property: 'og:description',  content: @metadata[:description]}
