!!!
%html{'ng-app' => 'loomioApp', 'ng-controller' => 'ApplicationController as app'}
  %head
    %title Framavox
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=Edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name: "viewport"}
    %base{href: '/'}

    %link{rel: 'canonical', 'ng-if' => 'links.canonical', 'ng-href' => '{{links.canonical}}'}
    %link{rel: 'alternate', type: 'application/rss+xml', 'ng-if' => 'links.rss', 'ng-href' => '{{links.rss}}'}
    %link{rel: 'prev', 'ng-if' => 'links.prev', 'ng-href' => '{{links.prev}}'}
    %link{rel: 'next', 'ng-if' => 'links.next', 'ng-href' => '{{links.next}}'}

    %link{href: client_asset_path(:"app.min.css"), rel: 'stylesheet', media: 'screen'}
    %link{href: client_asset_path(:"print.min.css"), rel: 'stylesheet', media: 'print'}

    = render 'angular/metadata'
    = render 'angular/intercom' if current_user_or_visitor.is_logged_in?

  %body{'ng-keydown' => 'keyDown($event)'}
    %flash
    %navbar
    %ng_outlet{'ng-if' => '!refreshing && !pageError'}
    %error_page{'ng-if' => 'pageError', 'error' => 'pageError'}
    %start_menu{'ng-if' => 'isLoggedIn()'}
    %outlet{name: 'after-start-menu'}

    %script{src: client_asset_path(:"vendor.min.js")}
    :javascript
      window.Loomio = #{@appConfig.to_json.html_safe.gsub('"currentUserId":null,"currentUserLocale":"en"','"currentUserId":null,"currentUserLocale":"fr"')}
      window.Loomio.emojis = {
        source: (emojione.shortnames || "").split('|'),
        render: emojione.shortnameToImage,
        defaults: ':heart:|:smiley:|:sweat_smile:|:star:|:rabbit:|:ok:|:thumbsup:|:nz:|:walking:|:clap:'.split('|')
      }
    %script{src: client_asset_path(:"app.js")}

    - if Rails.application.secrets.faye_url.present?
      %script{src: "#{Rails.application.secrets.faye_url}/client.js", type: 'text/javascript'}

    = javascript_include_tag 'angular_ahoy' if hosted_by_loomio?
    <script src="https://framasoft.org/nav/nav.js" type="text/javascript"></script>
