.blank
  %section.group-help-card{ng-if: "showHelpCard()"}
    %h2.lmo-card-heading{translate: "group_help_card.title"}
    .group-help-card__video-wrapper
      .lmo-bank{ng-if: "showVideo"}
        <iframe width="269" height="150" ng-src="https://framatube.org/media/tutoriel-framapad/embed_player" frameborder="0" allowfullscreen></iframe>
    .group-help-card__articles
      .media
        .media-left
          %img.group-help-card__article-thumbnail{src: "/img/10-tips.png", alt: "Weaving in agenda points"}
        .media-body
          %a.group-help-card__article-title{href: "{{tenTipsArticleLink()}}", title: "{{'group_help_card.ten_tips_article_title' | translate}}", target: "_blank"}
            %span{translate: "group_help_card.ten_tips_article_title"}
      .media
        .media-left
          %img.group-help-card__article-thumbnail{src: "/img/conversation-to-action.png", alt: "Caring work environment"}
        .media-body
          %a.group-help-card__article-title{href: "{{nineWaysArticleLink()}}", title: "{{ 'group_help_card.nine_ways_to_use_proposals' | translate }}", target: "_blank"}
            %span{translate: "group_help_card.nine_ways_to_use_proposals"}
    %a.group-help-card__more-help.lmo-card-minor-action{lmo-href: "{{helpLink()}}", target: "_blank"}
      %span{translate: "common.more_help"}
